* {
  font-family: optima;
  color: #333333;
  border: 0px dotted blue;
}

body {
  background-color: #778899;
  max-width: 75%;
  margin-left: 10%;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
}

h1+p {
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  text-align: center;
}

h1, h2, small {
  color: #003333;
}

h2 {
  margin-top: 40px;
}

h2, p {
  padding: 0px 30px 0px 30px;
}

ul, ol {
  margin-left: 30px;
}

ol {
  padding-bottom: 50px;
}

li {
  padding: 0px:
}

b {
  color: #2F4F4F;
}
